/* !IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN WEBSITE LANDING PAGE */

body{
    background-image: url(/images/bg-desktop.svg);
    background-color:  hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size:auto;
}

.hero{
    display: flex;
    flex-direction: row;
    margin-left: 74px;
    margin-top: 80px;
}
.mockups-1{
    max-width: 600px;
    max-height: 600px;
}

.text-part{
    margin-left: 40px;
    margin-top: 50px;
}

.intro1{
    color: white;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 4rem;
    font-family: 'Poppins' sans-serif;
}

.intro2{
    color: white;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.get-button{
    margin-top: 10px;
    margin-left: 65px;
    margin-right: auto;
}

.get-started{
    height: 50px;
    width: 180px;
    color:  hsl(257, 40%, 49%);
    background-color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.get-started:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}

/* MEDIA RESPONSIVITY */


@media screen and (max-width:1000px) {
    .mockups-1{
        max-width: 500px;
        max-height: 500px;
        margin-left: 2rem;
    }
    
    
    .hero{
        display: flex;
        flex-direction:column;
    }
    
    .text-part{
        margin-top: 0rem;
    }

    .intro1{
     margin-left: 3rem;
     font-size: 3rem;
    }

    .intro2{
        margin-left: 5rem;
    }

    .get-button{
        margin-top: 1rem;
        margin-left: 10rem;
    }
    
}


@media screen and (max-width:720px) {
.mockups-1{
    max-width: 450px;
    max-height: 450px;
}

.hero{
    display: flex;
    flex-direction:column;
}

.text-part{
    height: 18rem;
    margin-top: 0rem;
}

.intro1{
    margin-top: 1rem;
    padding-right: auto;
}

.intro2{
    margin-top: 1rem;
    border: 1px solid black;
    margin-right: 10rem;
}

}

    
    

